{% extends "organization/base.html" %}

{% block body %}
<main class="container mx-auto mt-8 p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="md:col-span-2">
            <h2 class="text-3xl font-bold">{{ category.name }}</h2>
            <h3 class="text-xl text-gray-600"> in {{ category.tournament.name }}</h3>

            <!-- offline reg and close reg -->
            {% if category.registration_status %}
                {% include "components/forms/organization/offline_entry_close_reg.html" %}
            {% elif not category.fixture %}
                {% include "components/forms/organization/create_fixture.html" %}
            {% else %}
                {% if category.fixture.content_object %}
                    <!-- fixture type KO, RR, KO+RR -->
                    {% if category.fixture.fixtureType == 'KO' %}
                        <!-- Manual, Automatic -->
                        {% if category.fixture.content_object.fixing_manual %}
                            {% if not category.fixture.content_object.bracket_matches.all and not category.fixture.scheduled_matches.all %}
                                {% if category.winner %}
                                  {{ category.winner }} is the winner
                                {% else %}
                                    {% include "components/forms/organization/create_match.html" %}
                                {% endif %}
                            {% else %}
                                <h3>Fixture Diagram</h3>
                                {% include "components/fixture_diagram.html" %}
                            {% endif %}
                        {% else %}
                            Automatic Coming soon
                        {% endif %}
                    {% else %}
                        Coming soon
                    {% endif %}
                {% else %}
                    Error occured
                {% endif %}
            {% endif %}
        </div>

        <div class="bg-white p-6 rounded-lg shadow">
            <!-- Add team list here -->
            {% if scheduled_matches %}
                <h4 class="text-lg font-semibold mb-4">Scheduled match</h4>
                {% for match in scheduled_matches %}
                    <a href="{% url 'org:scoring' match.id %}">{{ match }}</a>
                {% endfor %}
            {% else %}
                <h4 class="text-lg font-semibold mb-4">Teams</h4>
                {% for team in category.teams.all %}
                    {{ team.name }}
                {% endfor %}
            {% endif %}

            {% if category.fixture.scheduled_matches %}
                {% include "components/forms/organization/schedule_matches.html" %}
            {% endif %}
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
{% endblock body %}