{% extends 'base.html' %}

{% block body %}
<style>
    .container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    /* Responsive adjustments */
    .left-side,
    .right-side {
        width: 100%;
    }

    .breadcrumb {
        display: inline;
        margin-bottom: 15px;
        font-size: 1.4rem;
    }

    .breadcrumb a {
        text-decoration: none;
        color: var(--errie-black);
    }

    .breadcrumb span {
        padding: 8px;
        font-size: 1.4rem;
        color: var(--errie-black);
    }

    .breadcrumb .separator {
        padding: 0 8px;
        color: var(--color-black);
        font-size: 1.2rem;
        font-family: heal_the_web;
    }

    .title {
        font-family: heal_the_web;
        font-size: 2rem;
        font-weight: 800;
        color: var(--color-black);
        margin-top: 10px;
    }

    .org-name {
        background-color: var(--dark-green);
        color: var(--white-shade);
        font-family: heal_the_web;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 4px 10px;
        border-radius: 4px;
        display: inline-block;
        margin-top: 5px;
    }

    .accordion {
        margin-top: 16px;
    }

    .accordion-item {
        border-bottom: 1px solid var(--errie-black);
    }

    .accordion-button {
        width: 100%;
        padding: 15px 0;
        font-weight: 500;
        color: var(--color-black);
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
        font-family: humion;
        font-size: 1.8rem;
    }

    .accordion-content {
        display: none;
        padding: 0 10px;
    }

    .accordion-content.active {
        display: block;
    }

    .form-group {
        margin-bottom: 16px;
    }

    .form-label {
        display: block;
        margin-bottom: 8px;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--color-black);
    }

    .form-input,
    .form-select {
        width: 100%;
        padding: 8px;
        font-size: 1.2rem;
        color: var(--color-black);
        border: 1px solid var(--color-mint);
        border-radius: 8px;
        background-color: var(--color-white);
    }

    .form-button {
        margin-top: 16px;
        padding: 10px 20px;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--color-black);
        background-color: var(--color-white);
        border: 1px solid var(--color-mint);
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-button:hover {
        background-color: var(--color-mint);
        color: var(--color-black);
    }

    .image-container {
        max-width: 100%;
        margin-top: 20px;
    }

    .image-container img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .image-caption {
        margin-top: 8px;
        font-size: 1rem;
        text-align: center;
        color: var(--color-vermilion);
    }

    /* Adjustments for larger screens */
    @media (min-width: 768px) {
        .container {
            flex-direction: row;
        }

        .left-side {
            flex: 2;
            margin-right: 20px;
        }

        .right-side {
            flex: 1;
        }

        .breadcrumb span {
            font-size: 1.6rem;
        }

        .title {
            font-size: 2.5rem;
        }

        .org-name {
            font-size: 1.5rem;
        }

        .accordion-button {
            font-size: 2rem;
        }

        .form-label,
        .form-input,
        .form-select,
        .form-button {
            font-size: 1.4rem;
        }
    }

    .no-category {
        color: var(--color-vermilion);
        font-size: 1rem;
        font-weight: 600;
        margin-top: 10px;
    }

    .detail-item {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        font-size: 1.2rem;
        color: var(--color-black);
    }

    .detail-item i {
        margin-right: 8px;
        color: var(--color-vermilion);
    }

    .detail-item a {
        color: var(--color-black);
        text-decoration: none;
    }

    .detail-item a:hover {
        text-decoration: underline;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: 1000;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;
        width: 90%;
    }

    .modal.active {
        display: block;
    }


</style>

<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
<script src="https://unpkg.com/lucide@latest"></script>

<div class="container">
    <div class="left-side">
        <div class="breadcrumb">
            <span><a href="{% url 'core:index' %}">Home</a></span>
            <span class="separator">></span>
            <span>{{ tournament.name }}</span>
        </div>

        <div>
            <h1 class="title">{{ tournament.name }}</h1>
            <span class="org-name">by {{ tournament.organization.name }}</span>
        </div>

        <div class="accordion">
            <!-- About the Tournament -->
            <div class="accordion-item">
                <button class="accordion-button">About the Tournament</button>
                <div class="accordion-content">
                    <div class="tournament-details">
                        <div class="detail-item">
                            <i data-lucide="calendar"></i>
                            <span style="font-size: 1.6rem;">From: {{ tournament.start_date }} To: {{ tournament.end_date }}</span>
                        </div>
                        <div class="detail-item">
                            <i data-lucide="map-pin"></i>
                            <span style="font-size: 1.6rem;">Venue:</span>
                                <a href="{{ tournament.venue_link }}" target="_blank" style="font-size: 1.6rem;">     {{ tournament.venue_address }}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Categories -->
            <div class="accordion-item">
                <button class="accordion-button">Categories</button>
                <div class="accordion-content">
                    {% if tournament.categories.all %}
                        <p>
                            {% for category in tournament.categories.all %}
                                {{ category.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p class="no-category">No categories have been added.</p>
                    {% endif %}
                </div>
            </div>

            <!-- Details -->
            <div class="accordion-item">
                <button class="accordion-button">Details</button>
                <div class="accordion-content">
                    <p>{{ tournament.details }}</p>
                </div>
            </div>
        </div>

        <!-- Register Button -->
        <button
            class="form-button"
            onclick="openModal()"
            style="font-size: 1.6rem; font-family: heal_the_web;"
        >
            Register <i data-lucide="arrow-up-right" style="width: 1.5em; height: 1em; color: var(--errie-black);"></i>
        </button>

        <!-- Registration Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <h2 style="font-size: 2rem;">Register</h2>
                <div class="form-group">
                    <label for="team-name" class="form-label" style="font-size: 1.75rem;">Team Name</label>
                    <input
                        type="text"
                        id="team-name"
                        class="form-input"
                        placeholder="Enter team name"
                        style="font-size: 1.75rem;"
                    />
                </div>

                <div class="form-group">
                    <label for="team-category" class="form-label" style="font-size: 1.75rem;">Category:</label>
                    <select
                        id="team-category"
                        name="team_category"
                        class="form-select"
                        required
                        style="font-size: 1.75rem;"
                    >
                        {% for category in tournament.categories.all %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button
                    id="rzp-button"
                    type="button"
                    class="form-button"
                    style="font-size: 2rem;"
                >
                    Proceed to Pay <i class="lucide lucide-arrow-up-right"></i>
                </button>
            </div>
        </div>

        {% include "core/payment.html" %}
    </div>

    <div class="right-side">
        <figure class="image-container">
            <img src="https://picsum.photos/400/600" alt="Tournament Image" />
            <figcaption class="image-caption">Image caption</figcaption>
        </figure>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Accordion functionality
        const accordionButtons = document.querySelectorAll(".accordion-button");
        const accordionContents = document.querySelectorAll(".accordion-content");

        accordionButtons.forEach((button) => {
            button.addEventListener("click", function () {
                const content = this.nextElementSibling;

                // Toggle active state
                if (content.classList.contains("active")) {
                    content.classList.remove("active");
                } else {
                    // Close all accordion contents
                    accordionContents.forEach((c) => c.classList.remove("active"));
                    // Open the clicked accordion content
                    content.classList.add("active");
                }
            });
        });
    });

    const modal = document.getElementById("myModal");

    function openModal() {
        modal.classList.add("active");
    }

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.classList.remove("active");
        }
    };
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Check if the lucide library is loaded and then create icons
        if (typeof lucide !== 'undefined') {
            lucide.createIcons();
        } else {
            console.error("Lucide library failed to load.");
        }
    });
</script>

{% endblock body %}
