<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="ph_number">Phone Number</label>
        <input type="text" class="form-control" id="ph_number" name="ph_number" required>
    </div>
    <div class="form-group">
        <label for="mail">Email</label>
        <input type="email" class="form-control" id="mail" name="mail" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>