
<div>
    <button onclick="toggleDiv()">Add Registration</button>
    <form action="" id="offline_entry">
        <label for="team_name">Name:</label>
        <input type="text" name="team_name" id="team_name" required>
        <button type="submit">Register</button>
    </form>
</div>

<script>
    x = document.getElementById("offline_entry");
    function toggleDiv() {
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    x.style.display = "none";
    document.getElementById('offline_entry').addEventListener('submit', function (e) {
        e.preventDefault();

        var team_name = document.getElementById('team_name').value;
        
        fetch("{% url 'api:offline_entry' category_data.id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                team_name: team_name
            })
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            if (data.message === "Registration successfully") {
                alert('Team successfully registered');
            } else {
                alert('Error registering team');
            }
            console.log(data);
        }).catch(function (error) {
            console.error('Error:', error);
            alert('Error registering team');
        });
    });
</script>