<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportshunt</title>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Cinzel+Decorative&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/TextPlugin.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #c1e1a7;
        }
    </style>
</head>

<body>
    <!-- navbar -->
    {% include "components/navbar.html" %}

    {% for message in messages %}
    {{ message }}
    {% endfor %}

    <!-- body content -->
    {% block body %}
    <!-- messages -->
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}

    {% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>