<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #f0f0f0;
        ender;</style>
    <script defer src="scoreboard.js"></script>
</head>
<body>
    <div class="container">
        <header><h1>Score Board - Team Scores and Sets Completed!</h1></header>
        
        <!-- Teams -->
        <section id="teamA" class="score-board team">
            <p data-set for="Team A">Set 0/3: Set up... </p>
            <button onclick="addScore('Team A')">+1</button>
            <span id="teamAScore"></span>/<span id="completedSetsA"></span> completed!
        ender;   
        
        <!-- Teams -->    
        <section id="teamB" class="score-board team">
            <p data-set for="Team B">Set 0/3: Set up... </p>
            <button onclick="addScore('Team B')">+1</button>
            <span id="teamBScore"></span>/<span id="completedSetsB"></span> completed!        
        ender;   
            
        <!-- Complete sets button -->
        <div class="buttons-container">    
            <button onclick="completeSet('Team A', 0)">Complete Set for Team A (#1/3)</button><br/>
            <button onclick="completeSet('Team B', 0)">Complete Set for Team B (#1/3)</button>     
        ender;   
    </div>  
</body>
</html>