<style>
    main {
        max-width: 1200px;
        margin: 5rem auto;
        text-align: center;
    }

    #hero {
        font-family: 'Love Ya Like A Sister', cursive;
        font-size: 8rem;
        /* Increased font size */
        color: #2e5339;
        margin-bottom: 1rem;
        line-height: 1.2;
        /* Added for better spacing */
    }

    #subtitle {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 2rem;
        /* Increased font size */
        color: #2e5339;
        margin-bottom: 3rem;
    }

    .tournaments {
        background-color: #5e8c61;
        padding: 1rem;
        border-radius: 0.5rem;
        margin: 0 3%;
    }

    .tournaments-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .tournaments-title {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 1.5rem;
        color: white;
    }

    .view-more {
        color: #f0f3bd;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.3s;
    }

    .view-more:hover {
        color: white;
    }

    .tournaments-container {
        overflow-x: auto;
        height: 400px;
    }

    .tournaments-scroll {
        display: flex;
        gap: 1rem;
        flex-wrap: nowrap;
    }

    .tournament-card {
        flex-shrink: 0;
        width: 320px;
        height: 320px;
        background-color: #f0f3bd;
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tournament-card:hover {
        transform: scale(1.005);
    }

    .tournament-card h4 {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 1.5rem;
        color: #2e5339;
        margin-bottom: 1rem;
    }

    .tournament-card p {
        color: #5e8c61;
        margin-bottom: 1rem;
    }

    .tournament-card a {
        background-color: #5e8c61;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
    }

    .tournament-card a:hover {
        background-color: #2e5339;
    }

    .tournaments-container::-webkit-scrollbar {
        /* width: 12px; */
        /* Set the width of the scrollbar */
        /* height: 12px; */
        /* Set the height for horizontal scrollbar */
        color: #000;
    }
</style>


<main>
    <h1 id="hero">Get. Set. Hunt!</h1>
    <h2 id="subtitle"></h2>

    <div class="tournaments">
        <div class="tournaments-header">
            <h3 class="tournaments-title" id="section-title">UPCOMING TOURNAMENTS</h3>
            <button class="view-more">View More</button>
        </div>
        {% include "components/cards_holder.html" with tournaments=upcoming_tournaments %}
    </div>
</main>

<script>
    gsap.registerPlugin(ScrollTrigger, TextPlugin);

    const tournaments = [
        { id: 1, name: "Tournament 1", date: "June 15, 2023" },
        { id: 2, name: "Tournament 2", date: "July 1, 2023" },
        { id: 3, name: "Tournament 3", date: "July 10, 2023" },
        { id: 4, name: "Tournament 4", date: "July 20, 2023" },
        { id: 5, name: "Tournament 5", date: "August 5, 2023" },
        { id: 6, name: "Tournament 6", date: "August 15, 2023" },
    ];

    // const tournamentsScroll = document.getElementById('tournaments-scroll');

    // tournaments.forEach(tournament => {
    //     const card = document.createElement('div');
    //     card.className = 'tournament-card';
    //     card.innerHTML = `
    //         <h4>${tournament.name}</h4>
    //         <p>${tournament.date}</p>
    //         <button>Join Tournament</button>
    //     `;
    //     tournamentsScroll.appendChild(card);
    // });

    // Hero text animation
    gsap.from("#hero", {
        duration: 1,
        y: 50,
        opacity: 0,
        ease: "power3.out",
    });

    // Subtitle rolling text reveal
    gsap.to("#subtitle", {
        duration: .5,
        text: "PROVE YOUR POINT.",
        ease: "none",
        delay: 0,
        onComplete: () => {
            gsap.to("#subtitle", { duration: 1, opacity: 1, ease: "power3.out" });
        }
    });


    // Section title animation
    gsap.from("#section-title", {
        duration: 1,
        x: -100,
        opacity: 0,
        ease: "power3.out",
        scrollTrigger: {
            trigger: "#section-title",
            start: "top bottom-=100",
        },
    });

    // // Tournament cards animation
    // gsap.from(".tournament-card", {
    //     duration: 0.5,
    //     opacity: 0,
    //     y: 100,
    //     stagger: 0.1,
    //     ease: "power3.out",
    //     scrollTrigger: {
    //         trigger: ".tournaments-scroll",
    //         start: "top bottom-=100",
    //     },
    // });

    // // Continuous horizontal scroll animation
    // gsap.to(".tournaments-scroll", {
    //     x: () => -(tournamentsScroll.scrollWidth - tournamentsScroll.offsetWidth),
    //     ease: "none",
    //     scrollTrigger: {
    //         trigger: ".tournaments-scroll",
    //         start: "top bottom",
    //         end: "bottom top",
    //         scrub: 1,
    //         pin: true,
    //         anticipatePin: 1,
    //     },
    // });
</script>